/* style.css */

body {
<<<<<<< HEAD
    background-color:#FAF9F6;
=======
    background-color:black;
    color: white;
>>>>>>> 20f533aab4106f743ff67768a0adcda6306f7f00
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color:black;
    font-size: 30px;
    border: 3px;
    border-radius: 8px;
    padding-top: 10px;
}

.Header {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.Calculator {
    width: 400px;
    background-color: darkslategrey;
    border-radius: 20px;

}

.TopDisplay {
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
=======
    background: black;
    font-size: larger;
    align-items: right;
>>>>>>> 20f533aab4106f743ff67768a0adcda6306f7f00
    height: 200;
    width: 500px;
    align-items: center;
    border: 3px;
    border-color: black;
    border-radius: 20px;
}

.ClearButtonEtc {
<<<<<<< HEAD
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    margin-right: 50px;
=======
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    padding: 10px;
    background-color: grey;
>>>>>>> 20f533aab4106f743ff67768a0adcda6306f7f00
}


.NumberButtons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 250px;
    height: 250px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
}

.OperatorButtons {
    background-color:gold;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}


#btn {
    background-color: darkred;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}