/* styles.css */

body {
    background-color:#FAF9F6;
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}


.main{


}

.header {


}

.Calculator {



}

.TopDisplay {



}

.Buttons {


}

.ButtonNumber {

}

.ButtonFunction
{

}

.ButtonNumberZero {


}

.ButtonOperator {

}

.ReadInstructions {


}

.Footer {


}