/* style.css */

body {
<<<<<<< HEAD
    background-color:white;
    color: black;
=======
    background-color:#FAF9F6;
>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
    flex-direction: column;
    height: 100vh;
}

h1 {
    color:black;
    font-size: 30px;
    border: 3px;
    border-radius: 8px;
    padding-top: 10px;
}

.Header {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.Calculator {
<<<<<<< HEAD
    width: 320px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.TopDisplay {
    background: black;
    color: white;
    font-size: larger;
    text-align: right;
    height: 200;
    line-height: 50px;
    border: 3px;
    border-color: white;
    border-radius: 20px;
    padding: 15px;
}

.ClearButtonEtc {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-bottom: 10px;
=======
    width: 400px;
    background-color: darkslategrey;
    border-radius: 20px;

}

.TopDisplay {
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 200;
    width: 500px;
    align-items: center;
    border: 3px;
    border-color: black;
    border-radius: 20px;
}

.ClearButtonEtc {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    margin-right: 50px;
>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
}


.NumberButtons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
<<<<<<< HEAD
    gap: 10px;
    margin-bottom: 10px;
=======
    width: 250px;
    height: 250px;
    padding: 10px 15px;
    font-size: 18px;
>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
    border-radius: 50%;
}

.OperatorButtons {
<<<<<<< HEAD
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 10px;
    border-radius: 50%;
    gap: 10px;
=======
    background-color:gold;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
}


#btn {
<<<<<<< HEAD
    background-color: #333;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 40px;
    padding: 20px;
}

#btn:hover {
    background-color: #555;
}

#ClearBtn, #PercentBtn, #InverseBtn {
    background-color: #a5a5a5;
    color: black;
    border-radius: 50%;
}


=======
    background-color: darkred;
    color: white;
}

>>>>>>> eb915ae84bce15681058ee5bb89b25e1d3abe3e4
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}